<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="src/favicon.ico" type="image/ico">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>게임 이름: VG</title>
  </head>
      <style type="text/css">
      a:link { color: #fff; text-decoration: none;}
      a:visited { color: #fff; text-decoration: none;}
      a:hover { color: #fff; text-decoration: none;} 
    </style>
  <body oncontextmenu='return false' bgcolor="555">
  <header>
    <p class="MenuBarFont">
    <a href="index.html">
      VANTA GAMES
      <!--
        <img src="https://cdn.discordapp.com/attachments/898546756235694081/898560336146333756/ffd2723249b372f5.png" width="180" style="-webkit-user-drag: none;"/>
      -->
    </a>
    </p>
  </header>
    <div class="box6">
      <div class="box-title6">
        타이틀
      </div>
      <div class="box-subtitle6">
				서브타이틀
      </div>
      <div class="box-desc6">
        설명 (<br>로 줄바꿈)
      </div>
      <a href="https://docs.google.com/document/d/184UTIiJ7LkTu1qcMvGTbPajn9CtQ39b8bO2GNGYPJ6U/edit" target="_blank">
        <button id="stigma"; class="box-button6">
          버튼 1
        </button>
      </a>
      <a href="다운할 파일 이름" download="다운될 파일 이름">
        <button id="stigmaDownload"; class="box-button6">
          Click to Download
        </button>
      </a>
    </div>
<!--이하 푸터-->
    <style>
      .web {text-align: center;margin-top: 20px;}
    </style>
    <div id="foot">
      <div>
      </div>
      <div class="description">
        <div class="maker">
          <br><br>대표 : Ketose<br>부대표 : Upload18, Kyanite<br>웹 관리자 : versebrik, Upload18<br>문의 : yoriko3545@gmail.com</a><h6>Copyright ⓒ 2021. VANTA GAMES. All Rights Reserved.</h6><!--<a href="privacy.html" target="_blank">개인정보 처리방침</a>-->
        </div>
      </div>
    </div>
		<script type="text/javascript" src="./DownloadStigma.js"></script>
  </body>
</html>